<app-header></app-header>

<body>
    <div class="w3-container w3-padding-32">
      
            <form #userRegForm='ngForm' style=" margin: 100px;" (ngSubmit)="userRegForm.form.valid && login(userRegForm.value)" novalidate>
                    <h2 class="text-center">Users Login</h2>
                      
                   
                    <div class="form-group">
                                      <input type="text" class="form-control" id="email" placeholder="email" name="email" [(ngModel)]="email" #youremail="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && youremail.invalid }" required> 
                    <div *ngIf="userRegForm.submitted && youremail.invalid" class="invalid-feedback">
                    <div *ngIf="youremail.errors.required" class="alert-danger">Email is required</div>
                    </div>
                    </div>
                    <div class="form-group">
                                      <input type="text" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password" #pass="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && pass.invalid }" required>  
                    <div *ngIf="userRegForm.submitted && pass.invalid" class="invalid-feedback">
                    <div *ngIf="pass.errors.required" class="alert-danger">Password is required</div>
                    </div>
                    </div>

                      
                    <div class="align-center">
                                      <button type="submit" class="btn btn-primary  " id="registeruser"  >Register</button>
                                  </div>
                    </form>
                    
        </div>
        
</body>


